<p>crear-clase works!</p>
<div>

    <div class="d-flex justify-content-between">
      <h4>Form customer</h4>
      <a href="#" routerLink="/listaClases" class="btn btn-primaryt">Back</a>
    </div>
  
    <hr/>
  
         <form  [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="nombre">Nombre:</label>
                <input
                  formControlName="nombre"
                  id="nombre"
                  type="text"
                  class="form-control">
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="salon">Salon:</label>
                <input
                  formControlName="salon"
                  id="salon"
                  type="text"
                  class="form-control">
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="maestro">Maestro:</label>
                <input
                  formControlName="maestro"
                  id="maestro"
                  type="text"
                  class="form-control">
              </div>
          </div>
  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
</div>
