<div>

    <section>

        <div class="d-flex justify-content-between">
          <h4>Lista de  Maestros</h4>
          <a routerLink="/crearMaestro" class="btn btn-success">Crear Maestro</a>
        </div>
    
        <br>
        
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th width="220px">Action</th>
          </tr>
          <tr *ngFor="let maestroItem of maestroItems">
            <td>{{ maestroItem.id }}</td>
            <td>{{ maestroItem.nombre }}</td>
            <td>{{ maestroItem.apellidos }}</td>
            <td>{{ maestroItem.edad }}</td>
            <td>{{ maestroItem.telefono }}</td>
            <td>{{ maestroItem.correo }}</td>
            <td>
              <a routerLink="/editarMaestro" class="btn btn-primary">Edit</a>
              <!-- <button type="button" (click)="deletePerson(person.id)" class="btn btn-danger">Delete</button> -->
            </td>
          </tr>
        </table>
     </section>

</div>
